<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    



      <!-- Пример использования (можно вставить в нужное место) -->
    <xacro:imu_sensor name="imu" parent_link="base_link">
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </xacro:imu_sensor>
    

    <joint name="camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.571 0 -1.571" />
        <parent link="camera_link" />
        <child link="camera_link_optical" />
    </joint>

    <link name="camera_link_optical"></link>


    <!-- Add a gazebo tag for the ORIGINAL camera_link (but in the plugin we reference the optical frame so that ROS can orient things correctly) -->
    <!-- Within the gazebo tag we have the sensor tag, and inside that there is (among other things) the camera tag with the camera parameters, 
            and the plugin tag with some extra parameters the plugin needs. -->
    <!-- Note that although visualise is set to true, it won't actually visualise the depth camera in gazebo. To see the preview, 
            try swapping "depth" to "camera"-->
    <gazebo reference="camera_link">
        <sensor type="depth" name="Camera">
            <update_rate>20</update_rate>
            <visualize>true</visualize>
            <camera name="cam">
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>  <!-- Более стандартный формат -->
                </image>
                <clip>
                    <near>0.05</near>
                    <far>4.0</far>  <!-- Уменьшаем с 8.0 м -->
                </clip>
                <noise>
                    <type>gaussian</type>  <!-- Добавляем шум -->
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>4.0</max_depth>  <!-- Синхронизируем с <far> -->
                <point_cloud_cutoff>0.5</point_cloud_cutoff>  <!-- Новый параметр -->
            </plugin>
        </sensor>
    </gazebo>
    <gazebo reference="RL-1-3_link">
        <mu1 value="10.0"/> <!-- Коэффициент статического трения -->
        <mu2 value="10.0"/> <!-- Коэффициент динамического трения -->
        <kp value="1000000.0"/> <!-- Коэффициент жесткости контакта -->
        <kd value="1.0"/> <!-- Коэффициент демпфирования контакта -->
   </gazebo>

    <gazebo reference="RL-2-3_link">
        <mu1 value="10.0"/> <!-- Коэффициент статического трения -->
        <mu2 value="10.0"/> <!-- Коэффициент динамического трения -->
        <kp value="1000000.0"/> <!-- Коэффициент жесткости контакта -->
        <kd value="1.0"/> <!-- Коэффициент демпфирования контакта -->
    </gazebo>

    <gazebo reference="RL-3-3_link">
        <mu1 value="10.0"/> <!-- Коэффициент статического трения -->
        <mu2 value="10.0"/> <!-- Коэффициент динамического трения -->
        <kp value="1000000.0"/> <!-- Коэффициент жесткости контакта -->
        <kd value="1.0"/> <!-- Коэффициент демпфирования контакта -->
    </gazebo>

    <gazebo reference="LL-1-3_link">
        <mu1 value="10"/>
        <mu2 value="10"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

    <gazebo reference="LL-2-3_link">
        <mu1 value="10"/>
        <mu2 value="10"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

    <gazebo reference="LL-3-3_link">
        <mu1 value="10"/>
        <mu2 value="10"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>




</robot>