<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    




    <joint name="camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.571 0 -1.571" />
        <parent link="camera_link" />
        <child link="camera_link_optical" />
    </joint>

    <link name="camera_link_optical"></link>


    <!-- Add a gazebo tag for the ORIGINAL camera_link (but in the plugin we reference the optical frame so that ROS can orient things correctly) -->
    <!-- Within the gazebo tag we have the sensor tag, and inside that there is (among other things) the camera tag with the camera parameters, 
            and the plugin tag with some extra parameters the plugin needs. -->
    <!-- Note that although visualise is set to true, it won't actually visualise the depth camera in gazebo. To see the preview, 
            try swapping "depth" to "camera"-->
    <gazebo reference="camera_link">
        <sensor type="depth" name="Camera">
            <update_rate>20</update_rate>
            <visualize>true</visualize>
            <camera name="cam">
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>B8G8R8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>100</max_depth>
            </plugin>
        </sensor>
    </gazebo>
    <gazebo reference="RL-1-3_link">
        <mu1 value="10.0"/> <!-- Коэффициент статического трения -->
        <mu2 value="10.0"/> <!-- Коэффициент динамического трения -->
        <kp value="1000000.0"/> <!-- Коэффициент жесткости контакта -->
        <kd value="1.0"/> <!-- Коэффициент демпфирования контакта -->
   </gazebo>

    <gazebo reference="RL-2-3_link">
        <mu1 value="10.0"/> <!-- Коэффициент статического трения -->
        <mu2 value="10.0"/> <!-- Коэффициент динамического трения -->
        <kp value="1000000.0"/> <!-- Коэффициент жесткости контакта -->
        <kd value="1.0"/> <!-- Коэффициент демпфирования контакта -->
    </gazebo>

    <gazebo reference="RL-3-3_link">
        <mu1 value="10.0"/> <!-- Коэффициент статического трения -->
        <mu2 value="10.0"/> <!-- Коэффициент динамического трения -->
        <kp value="1000000.0"/> <!-- Коэффициент жесткости контакта -->
        <kd value="1.0"/> <!-- Коэффициент демпфирования контакта -->
    </gazebo>

    <gazebo reference="LL-1-3_link">
        <mu1 value="10"/>
        <mu2 value="10"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

    <gazebo reference="LL-2-3_link">
        <mu1 value="10"/>
        <mu2 value="10"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

    <gazebo reference="LL-3-3_link">
        <mu1 value="10"/>
        <mu2 value="10"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>





    <link name="imu_link"></link> 
    
     <joint name="imu_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <gazebo reference="imu_link">
    <gravity>false</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>
</robot>